rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == "admin";
    }

    match /productRatings/{ratingId} {
      allow read: if true;
      allow create: if request.resource.data.name is string
                    && request.resource.data.rating >= 1
                    && request.resource.data.rating <= 5
                    && request.resource.data.comment is string
                    && request.resource.data.productId is string;
      allow update, delete: if isAdmin();
    }

    match /users/{userId} {
      allow create, read, update, delete: if request.auth != null && request.auth.uid == userId;
    }

    match /tasks/{taskId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /userMixes/{mixId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /blogs/{blogId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /categories/{categoryId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /images_metadata/{docId} {
      allow read, write: if isAdmin();
    }

    match /orders/{orderId} {
      allow read, update, delete: if isAdmin();
      allow create: if true;
    }

    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
